@import "~bootstrap/scss/bootstrap.scss";

* {
    border: red solid 1px;
}
.flex {
    display: flex;
}
body {
    background-color: rgb(252, 252, 233);
}
.container {
    background-color: white;
    flex-direction: column;
    padding: 0px;
    width: 300px;
    margin-top: 50px;
}
h1 {
    justify-content: center;
}
input {
    border: 1px solid lightgrey;
}
ul {
    padding-left: 0px;
}
li {
    list-style-type: none;
}
.far {
    justify-content: flex-end;
}
.footer [
    justify-content: center;
]
.blank-bottom1 {
    justify-content: center;
    width: 296px;
    height: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blank-bottom2 {
    justify-content: center;
    width: 294px;
    height: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blank-bottom3 {
    justify-content: center;
    width: 292px;
    height: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}