@import "~bootstrap/scss/bootstrap.scss";

// * {
//     border: red solid 1px;
// }
.flex {
    display: flex;
}
body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
.container {
    background-color: white;
    flex-direction: column;
    padding: 0px;
    width: 300px;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.head {
    justify-content: center;
}
h1 {
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.body {
    
    justify-content: center;
}
input {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-bottom: 1px solid lightgrey;
    margin: 0px;
    width: 100%;
    padding: 0px 10px 0px 10px;
}
input:focus {
    outline: none;
}
ul {
    padding-left: 0px;
    margin: 0px;
}
li {
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid lightgrey;
    height: 50px;
    padding: 0px 10px 0px 10px;
}
p {
    font-size: 15px;
    color: lightgray;
    align-items: center;
    height: 25px;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
}
.footer {
    align-items: center;
    flex-direction: column;
    height: 20px;
}
.blank-bottom1 {
    background-color: white;
    width: 296px;
    height: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blank-bottom2 {
    background-color: white;
    width: 294px;
    height: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.blank-bottom3 {
    background-color: white;
    width: 292px;
    height: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}